* {
    background: #E5E5E5;
}

#logo {
    text-align: center;
}

ul > li {
    text-align: center;
    display: inline-block;
    padding: 0px 15px 0px 15px;
}

ul {
    text-align: center;
    padding-inline-start: 0;
}

#navBreak {
    width: 80%;
}

h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imageflex{
    display: flex;
}

img {
    padding: 5px;
    align-content: center;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

/*
.container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    height: auto;
    padding: 5px;
    margin: 5px;
}

.containerHead {
    width: 400px;

}
*/